.App {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6.2rem 2.4rem 9.4rem;
  background-image: url(../assets/mobile/image-host-10op.png);
}

.logo {
  display: flex;
  justify-content: center;
  img {
    height: 4rem;
  }
}

.content-container {
  margin-top: 7.4rem;
}

.page-title {
  text-align: center;
}

.page-body {
  margin-top: 1.5rem;
  text-align: center;
}

.platforms {
  display: flex;
  padding: 0 .6rem;
  overflow: hidden;
  margin-top: 3.3rem;
  align-items: center;
  justify-content: space-between;

  .platform {
    align-items: center;
    display: inline-flex;

    &--spotify {
      img { width: 5.6rem; }
    }
    &--applePodcast {
      img { width: 4.6rem; }
    }
    &--googlePodcasts {
      img { width: 7.3rem; }
    }
    &--pocketCasts {
      img { width: 7.7rem; }
    }
  }
}

.request-form {
  width: 100%;
  display: flex;
  margin-top: 4.8rem;
  flex-direction: column;

  &__email {
    width: 100%;
    font-size: 1.4rem;
    line-height: 2.8rem;
    border-radius: 2.8rem;
    padding: .9rem 3.2rem;
    color: var(--color-white);
    font-weight: var(--weight-bold);
    background-color: var(--color-dark-blue);

    &::placeholder {
      opacity: .50;
      font-size: 1.4rem;
      line-height: 2.8rem;
      color: var(--color-white);
      font-weight: var(--weight-bold);
    }
  }
}

.btn--request {
  width: 100%;
  color: #121725;
  font-size: 1.4rem;
  text-align: center;
  padding: .9rem 0;
  margin-top: 1.6rem;
  line-height: 2.8rem;
  border-radius: 2.8rem;
  font-weight: var(--weight-bold);
  background-color: var(--color-cyan);
}